<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="Sl.js" defer></script>
  <link rel="stylesheet" href="SL.css">
</head>
<body>
   <div id="wrapper">
      <div id="header">
        <p>SNAKE&LADDER</p>
         <div style="display: flex; width: 100%; justify-content: center;align-items: center;">
      <div id="dice">
      </div>
      <div id="roll">
         <button id="Roll">Roll</button>
       </div>
      </div>
       </div>
      <div id="boxes">
      </div>
     
   </div>
</body>
</html>
