<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="qmstyle.css">
   <script src="qm_js.js" defer></script>
</head>
<body>
  <div id="wrapper">
    <div class="header">
        <h1 id="quick">Quick Matcher</h1>
    </div>
    <div id="cardsSET">

      <div id="matcher1" class="matcher">

        <div class="card" id="card1">
          <p id="card1text">SK</p>
        </div>
        <div class="card" id="card2">
          <p id="card2text">SS</p>
        </div>

      </div>

      <div id="matcher2" class="matcher">
        <div class="card" id="card3">
          <p id="card3text">NSK</p>
        </div>
        <div class="card" id="card4">
          <p id="card4text">SKG</p>
        </div>
       </div>

        <div id="matcher3" class="matcher">
        <div class="card" id="card5">
          <p id="card5text">SkG</p>
        </div>
        <div class="card" id="card6">
          <p id="card6text">SS</p>
        </div>
       
      </div>

      <div id="matcher4" class="matcher">
        <div class="card" id="card7">
          <p id="card7text">SK</p>
        </div>
        <div class="card" id="card8">
          <p id="card8text">NSK</p>
        </div>
    </div>
  </div>
  
</body>
</html>