*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#0f172a,#1e293b,#334155);
    font-family: Arial, sans-serif;
}

#TTT{
    color: white;
    font-size: 3.5rem;
    margin-bottom: 30px;
    text-shadow: 0 0 10px cyan,
                 0 0 20px cyan,
                 0 0 40px cyan;
    letter-spacing: 3px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,120px);
    gap: 12px;
    padding: 20px;
    background: rgba(255,255,255,0.08);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow:
        0 0 20px rgba(0,255,255,0.3),
        0 0 50px rgba(0,255,255,0.15);
}

.cell{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.08);
    border: 2px solid rgba(255,255,255,0.15);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4rem;
    font-weight: bold;
    color: white;

    cursor: pointer;
    transition: all 0.25s ease;
}

.cell:hover{
    transform: scale(1.08);
    background: rgba(0,255,255,0.15);
    box-shadow:
        0 0 15px cyan,
        0 0 30px cyan;
}

#reset-btn{
    margin-top: 25px;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    background: cyan;
    color: #111;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#reset-btn:hover{
    transform: translateY(-3px);
    box-shadow:
        0 0 15px cyan,
        0 0 30px cyan;
}
#winbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(53, 16, 16, 0); /* (ye colorn amd opacity dono ko set karta hai) */
    padding: 30px 60px;
    border-radius: 15px;
    font-size: 2rem;
    color: white;
   
    text-shadow:
        0 0 10px cyan,
        0 0 20px cyan,
        0 0 40px cyan;
}